body {
  margin: 20px;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

p, span {
  font-family: 'UnifrakturMaguntia';
}

.indented p {
  text-indent: 1em;
  margin-bottom: 0;
  margin-top: 0;
}

.indented p:first-of-type {
  text-indent: 0;
}

.height {
  line-height: 1.5em;
}

.copyright {
  float: left;
}

.tidy {
  float: right;
}

.clearfix {
  clear: both;
}

.halfwidth {
  max-width: 280px;
  width: 50%;
  margin-left: 2em;
  margin-right: 2em;
}

.none p {
  display: none;
}

.hidden p {
  visibility: hidden;
}