/* Remove browser settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Work Sans'), local('WorkSans-Regular'),
       url('../fonts/work-sans-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v3-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Work Sans';
  background-color: #fff;
}

header {
  padding: 10px 20px 40px 20px;
}

.header-left {
  float: left;
}

.header-left li {
  display: inline-block;
  padding: 20px;
}

.header-right li {
  display: inline-block;
  padding: 20px;
}

.header-right a {
  color: black;
  text-decoration: none;
}

.header-right {
  float: right;
}

.clearfix {
  clear: both;
}

main {
  height: 75vh;
}

.speaker {
  height: 1.5em;
}

.description {
  margin: 40px 20px 20px 20px;
}

.description h1 {
  margin-bottom: 30px;
}

.images {
  position: relative;
}

.image {
  width: 30%;
  height: 50vh;
  position: absolute;
}

.left {
  background-image: url(../images/white-box.jpg);
  background-position: center center;
  background-size: cover;
  left: 0;
  top: 0;
}

.middle {
  background-image: url(../images/room.jpg);
  background-position: top 100% left 0;
  background-size: cover;
  top: 0;
  left: 34%;
}

.right {
  background-image: url(../images/black-white.jpg);
  background-position: center center;
  background-size: cover;
  top: 0;
  right: 0;
}

.onimage {
  color: white;
  text-decoration: none;
  font-size: 16pt;
  position: relative;
  top: 60px;
  left: 30px;
}

.onimage:hover {
  color: yellow;
}

footer {
  text-align: center;
}